.SavedNewsHeader {
  width: 100%;
  border: 1px solid red;
}

.SavedNewsHeader__title {
  margin: 40px 0 0 104px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.SavedNewsHeader__main-title {
  width: 530px;
  margin: 28px 0 0 104px;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.SavedNewsHeader__tags {
  margin: 30px 0 56px 104px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}