.Navigation {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0 104px 0 0;
  position: relative;
}

.Navigation__main {
  text-decoration: none;
  color: white;
  margin: 0 32px 0 0;
}

.Navigation__main.Navigation__main_saved-news {
  color: black;
}

.Navigation__saved-articles {
  margin: 0 34px;
  text-decoration: none;
  color: white;
}

.Navigation__saved-articles.Navigation__saved-articles_saved-news {
  color: black;
}

.Navigation__check-line {
  position: absolute;
  width: 70px;
  height: 3px;
  background-color:white;
  bottom: -16px;
  right: 573px;
}

.Navigation__check-line.Navigation__check-line_saved-news {
  width: 178px;
  background-color: black;
  right: 151px;
}

.Navigation__auth {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  padding: 12px 19px;
  display: flex;
  align-items: center;
  font: inherit;
  outline: none;
}

.Navigation__auth.Navigation__auth_saved-news {
  border: 1px solid black;
  color: black;
}

.Navigation__auth:hover {
  cursor: pointer;
}

.Navigation__auth-name {
  margin: 0;
}

.Navigation__logout {
  width: 100%;
  margin-left: 10px;
}
