.SearchForm {
  position: relative;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  border: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .SearchForm {
    height: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .SearchForm {
    flex-direction: column;
    height: auto;
  }
}

.SearchForm__input {
  width: 100%;
  border: none;
  padding: 0 0 0 24px;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-radius: 100px;
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .SearchForm__input {
    width: auto;
    height: 56px;
    margin: 0 0 16px;
  }
}

@-moz-document url-prefix() {
  .SearchForm__input {
    padding-top: 21px;
  }
}

.SearchForm__input::placeholder {
  color:#B6BCBF;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.SearchForm__button {
  width: calc(100% * 168/608);
  border-radius: 100px;
  border: none;
  background-color: #2F71E5;
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  position: absolute;
  right: -3px;
  top: 0;
  height: 64px;
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .SearchForm__button {
    height: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .SearchForm__button {
    position: relative;
    width: auto;
    height: 56px;
  }
}

.SearchForm__button:hover {
  cursor: pointer;
  background-color: #347EFF;
}