.Header {
  color: white;
  display: flex;
  border-bottom: 1px solid #B6BCBF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.Header.Header_saved-news {
  color: black;
  position: relative;
}

.Header__name {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 0 104px;
}